.heading {
  font-family: 'Dancing Script', cursive;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.heading {
  position: fixed;
  text-align: center;
  color: white;
  width: 100%;
  padding: 5px;
  font-size: x-large;

}

.head2 {
  position: fixed;
  text-align: center;
  color: #f1c0e8;
  width: 100%;
  font-size: 140%;
}
.song {
  position: fixed;
  text-align: center;
  top: 85%;
  color: white;
  width: 100%;
  padding: 20px;
  font-size: xx-large;

}
